.cables {
    width: 100%;
    height: 20em;
    background: url('../img/cables.jpg');
    background-size: cover;
    background-position: left center;
    margin-left: 0;
    
    @include breakpoint($mobile) {
        height: 20em;
    }
    
    @include breakpoint($tablet) {
        height: 20em;
    }
    
    @include breakpoint($tablet) {
        height: 25em;
        margin-left: 3em;
    }
}
