.content {
    height: 100%;
}

.content-inner {
    padding: 1em;
    height: 100%;
    
    @include breakpoint($tablet) {
        margin: 0 auto;
        max-width: 39em;
    }
    
    @include breakpoint($desktop) {
        padding-right: 2em;
        margin-top: 2em;
    }
}
