
.content-inner {
    padding: 1em;
    
    @include breakpoint($tablet) {
        margin: 0 auto;
        max-width: 35em;
    }
    
    @include breakpoint($desktop) {
        padding-right: 2em;
        margin-top: 2em;
    }
}
