.logo {
    font-family: $header;
    margin-bottom: 1.5em;
    
    @include breakpoint($tablet) {
        margin-bottom: 2em;
    }
}

.logo__svg {
    
}

.logo__text {
    color: $dark;
    text-align: center;
    margin-bottom: 0;
    font-size: 1.45em;
    line-height: 1.4;

    @include breakpoint($tablet) {
        font-size: 1.1em;
    }
    
    @include breakpoint($mobile) {
        font-size: 0.9em;
    }

}

.st0{fill:#FFFFFF;}
.st1{fill:#2D8796;}
.st2{fill:#3FBDDB;}
.st3{fill:#543E51;}
.st4{fill:#843860;}
.st5{fill:#F4B44D;}
.st6{fill:#776900;}
.st7{fill:#978A00;}
.st8{fill:none;stroke:#D3D3D3;stroke-width:9;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st9{fill:#CCCCCC;}
.st10{fill:#D9D9D9;}
.st11{fill:none;stroke:#CCCCCC;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st12{fill:#A83920;}
.st13{fill:#5B1809;}
.st14{fill:#505B75;}
.st15{fill:#DF9A78;}
.st16{fill:#FC9C46;}
.st17{fill:#E1578A;}
.st18{font-family:'Khand';}
.st19{font-size:41px;}