.nav {
    background-color: $primary;
    height: 140px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__link {
    display: inline-block;
    flex: 1;
    width: 60px;
    background-color: $primary;
    display: flex;
    flex-flow: column-wrap;
    align-items: center;
    justify-content: center;
}

.nav__svg {
    max-width: 120px;
}

.nav__g {
    transform: scale(2.8);
}