.nav {
    margin: 0 auto 1.5em;
    padding: 0.5em;
    color: $dark;
    text-align: center;
    
    @include breakpoint($mobile) {
        margin-bottom: 3em;
    }
}

.nav__link {
    display: inline-block;
    margin-right: 1em;
    color: $primary;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 0.25em;
    
    &.active {
        background-color: $primary;
        color: #fff;
    }
    
    @include breakpoint($mobile) {
        font-size: 2em;
    }
}