@import url(https://fonts.googleapis.com/css?family=Khand:500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@import './variables';
@import './mixins';
@import './content';
@import './footer';
@import '../components/logo/logo';
@import '../components/nav/nav';
@import '../components/about-us/about-us';
@import '../components/home/home';
@import '../components/blog/_blog';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 4em;
}

app {
    height: 100%;
}

p, h1, h2, h3, h4, h5, h6, div, span {
    color: $text;
}

p, div, span, a {
    font-family: $body;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header;
    font-weight: 400;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    margin-bottom: 0.2em;
    line-height: 1.35;
    
    @include breakpoint($mobile) {
        margin-bottom: 0.5em;
        margin-top: 1em;
        font-size: 3em;
    }
}

h3 {
    font-size: 1.7em;
    margin-top: 1em;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
    line-height: 1.8;
    font-family: $body;
    
    @include breakpoint($mobile) {
        margin-bottom: 15px;
    }
}

b {
    font-weight: 700;
    color: $dark;
}
