@import url(https://fonts.googleapis.com/css?family=Khand:500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import 'variables';
@import 'mixins';
@import 'content';
@import 'logo';
@import 'nav';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0 auto;
}

p, h1, h2, h3 {
    color: #333;
}

p {
    font-weight: 300;
    font-size: 1.1em;
    margin-bottom: 20px;
    line-height: 1.8;
    
    @include breakpoint($mobile) {
        margin-bottom: 10px;
    }
}

h1, h2, h3 {
    font-family: 'Khand';
}

b {
    font-weight: 700;
    color: $dark;
}
