<!--=include ../partials/head.html -->

    <!--=include ../partials/nav.html -->

    <h1>The pursuit of sustainable, artificial, intelligence.</h1>
    <p>
        Computers today have the potential to deliver deeper insights then ever before. Advanced analytics, and even decision making,
        are functions that a powerful Natural Language Processing engine can fulfill for both businesses and consumers. We hope
        to unlock some of this potential through our proprietary technology.
    </p>

    <h2>Neel Doppalapudi</h2>
    <p>CEO/Designer</p>

    <h2>Jefferson Richards</h2>
    <p>CTO/Architect</p>
    
    <h2>Matt McDaniel</h2>
    <p>Gets To Decide</p>

<!--=include ../partials/foot.html -->