@import url(https://fonts.googleapis.com/css?family=Khand:500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
.app {
  height: 100%; }

.content {
  max-width: 50em;
  margin: 0 auto; }
  @media all and (max-width: 24em) {
    .content {
      max-width: none; } }

.content-inner {
  margin: 0 auto;
  max-width: 35em; }
  @media all and (max-width: 30em) {
    .content-inner {
      padding: 2em; } }

.logo {
  font-family: "Khand";
  margin-bottom: 3.75em; }
  @media all and (max-width: 30em) {
    .logo {
      margin-bottom: 3em; } }

.logo__svg {
  margin-bottom: 1em; }

.logo__text {
  color: #505B75;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.45em;
  line-height: 1.4; }
  @media all and (max-width: 30em) {
    .logo__text {
      font-size: 0.9em; } }

.st0 {
  fill: #FFFFFF; }

.st1 {
  fill: #2D8796; }

.st2 {
  fill: #3FBDDB; }

.st3 {
  fill: #543E51; }

.st4 {
  fill: #843860; }

.st5 {
  fill: #F4B44D; }

.st6 {
  fill: #776900; }

.st7 {
  fill: #978A00; }

.st8 {
  fill: none;
  stroke: #D3D3D3;
  stroke-width: 9;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.st9 {
  fill: #CCCCCC; }

.st10 {
  fill: #D9D9D9; }

.st11 {
  fill: none;
  stroke: #CCCCCC;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.st12 {
  fill: #A83920; }

.st13 {
  fill: #5B1809; }

.st14 {
  fill: #505B75; }

.st15 {
  fill: #DF9A78; }

.st16 {
  fill: #FC9C46; }

.st17 {
  fill: #E1578A; }

.st18 {
  font-family: 'Khand'; }

.st19 {
  font-size: 41px; }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 9.5em; }
  @media all and (max-width: 30em) {
    .nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: top;
      -webkit-align-items: top;
          -ms-flex-align: top;
              align-items: top;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 3.75em; } }
  @media all and (max-width: 24em) {
    .nav {
      height: 3.2em; } }

.nav__link {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #006881;
  text-decoration: none;
  font-size: 0.8em;
  padding: 0.75em 0 0.75em;
  letter-spacing: -0.5px;
  background-color: #d5f1f7;
  margin-bottom: 5em;
  position: relative; }
  .nav__link:first-of-type {
    border-bottom-left-radius: 1em; }
  .nav__link:last-of-type {
    border-bottom-right-radius: 1em; }
  .nav__link:nth-of-type(2n) {
    background-color: #ebf8fb; }
  .nav__link.active, .nav__link:focus {
    background-color: #006881; }
    .nav__link.active .nav__text, .nav__link:focus .nav__text {
      color: #fff; }
    .nav__link.active .nav__svg .nav__g path, .nav__link:focus .nav__svg .nav__g path {
      fill: #fff; }
  .nav__link:active {
    background-color: #004758; }
  @media all and (max-width: 30em) {
    .nav__link {
      padding: 0.5em;
      font-size: 0.6em;
      margin-bottom: 0;
      padding: 0.75em 0; }
      .nav__link:first-of-type {
        border-bottom-left-radius: 0; }
      .nav__link:last-of-type {
        border-bottom-right-radius: 0; } }

.nav__text {
  margin-bottom: 0; }

.nav__svg {
  max-height: 3.5em; }
  @media all and (max-width: 24em) {
    .nav__svg {
      max-height: 2.75em; } }

.nav__g path {
  fill: #006881; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0 auto; }

p, h1, h2, h3 {
  color: #333; }

p {
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 20px;
  line-height: 1.8; }
  @media all and (max-width: 24em) {
    p {
      margin-bottom: 10px; } }

h1, h2, h3 {
  font-family: 'Khand'; }

b {
  font-weight: 700;
  color: #505B75; }
