@import url(https://fonts.googleapis.com/css?family=Khand:500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
.content-inner {
  padding: 1em; }
  @media all and (min-width: 34em) {
    .content-inner {
      margin: 0 auto;
      max-width: 35em; } }
  @media all and (min-width: 40em) {
    .content-inner {
      padding-right: 2em;
      margin-top: 2em; } }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  margin-left: -1em;
  padding-left: 2em; }
  @media all and (min-width: 28em) {
    .logo {
      margin-left: 0; } }

.logo__img {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 8em;
  padding-left: 0; }
  @media all and (min-width: 34em) {
    .logo__img {
      margin-left: 0.75em;
      padding-left: 1.5em;
      max-width: 10em; } }

.logo__name {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 3.5em;
  font-weight: 300;
  max-width: 4em;
  padding-top: 0.4em;
  margin: 0; }
  @media all and (min-width: 34em) {
    .logo__name {
      padding-left: 0.5em;
      padding-top: 0.2em;
      font-size: 4.5em; } }
  @media all and (min-width: 40em) {
    .logo__name {
      padding-left: 0;
      padding-top: 0.6em;
      font-size: 5em; } }

.logo__text {
  color: #505B75;
  text-align: center;
  font-weight: 600;
  font-size: 0.8em;
  font-family: 'Open Sans';
  font-weight: 400; }
  @media all and (min-width: 34em) {
    .logo__text {
      font-size: 1.1em; } }

.st0 {
  fill: #FFFFFF; }

.st1 {
  fill: #2D8796; }

.st2 {
  fill: #3FBDDB; }

.st3 {
  fill: #543E51; }

.st4 {
  fill: #843860; }

.st5 {
  fill: #F4B44D; }

.st6 {
  fill: #776900; }

.st7 {
  fill: #978A00; }

.st8 {
  fill: none;
  stroke: #D3D3D3;
  stroke-width: 9;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.st9 {
  fill: #CCCCCC; }

.st10 {
  fill: #D9D9D9; }

.st11 {
  fill: none;
  stroke: #CCCCCC;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.st12 {
  fill: #A83920; }

.st13 {
  fill: #5B1809; }

.st14 {
  fill: #505B75; }

.st15 {
  fill: #DF9A78; }

.st16 {
  fill: #FC9C46; }

.st17 {
  fill: #E1578A; }

.st18 {
  font-family: 'Khand'; }

.st19 {
  font-size: 41px; }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #3FBDDB; }
  @media all and (min-width: 28em) {
    .nav {
      position: relative;
      bottom: 0; } }

.nav__right {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.nav__brand {
  display: none; }
  @media all and (min-width: 34em) {
    .nav__brand {
      display: inline-block;
      -webkit-box-flex: 3;
      -webkit-flex: 3;
          -ms-flex: 3;
              flex: 3; } }

.nav__brand .logo__img {
  padding-top: 1em;
  max-width: 5em; }
  .nav__brand .logo__img ellipse, .nav__brand .logo__img path {
    fill: white; }

.nav__tab {
  padding: 0.35em 0 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b7e9f2;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }
  .nav__tab > .nav__text {
    color: #2092ad; }
  .nav__tab > .nav__svg--wrapper path {
    fill: #2092ad; }
  .nav__tab:hover {
    background-color: #e2f6fa; }
  .nav__tab:nth-of-type(2n) {
    background-color: #cdeff6; }
    .nav__tab:nth-of-type(2n) > .nav__text {
      color: #2092ad; }
    .nav__tab:nth-of-type(2n) .nav__svg path {
      fill: #2092ad; }
    .nav__tab:nth-of-type(2n):hover {
      background-color: #e2f6fa; }
  .nav__tab:active {
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    background-color: #24a4c3 !important; }
    .nav__tab:active > .nav__text {
      color: #fff; }
    .nav__tab:active > .nav__svg--wrapper path {
      fill: #fff; }
  @media all and (min-width: 28em) {
    .nav__tab {
      padding: 0.5em; } }

.nav__tab, .nav__tab:focus, .nav__tab:visited, .nav__tab:active {
  text-decoration: none; }

.nav__tab.active, .nav__tab.active:hover {
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: #3FBDDB; }
  .nav__tab.active > .nav__text, .nav__tab.active:hover > .nav__text {
    color: #fff; }
  .nav__tab.active > .nav__svg--wrapper path, .nav__tab.active:hover > .nav__svg--wrapper path {
    fill: #fff; }

.nav__text {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -0.5px;
  text-align: center;
  text-decoration: none;
  font-size: 0.4em; }
  @media all and (min-width: 28em) {
    .nav__text {
      margin-bottom: 0.1em;
      font-size: 0.8em; } }

.nav__svg--wrapper {
  width: 2em; }
  @media all and (min-width: 28em) {
    .nav__svg--wrapper {
      width: 2.5em; } }

.cables {
  width: 100%;
  height: 20em;
  background: url("../img/cables.jpg");
  background-size: cover;
  background-position: left center;
  margin-left: 0; }
  @media all and (min-width: 28em) {
    .cables {
      height: 20em; } }
  @media all and (min-width: 34em) {
    .cables {
      height: 20em; } }
  @media all and (min-width: 34em) {
    .cables {
      height: 25em;
      margin-left: 3em; } }

footer {
  display: none;
  background-color: #3FBDDB;
  color: #fff;
  padding: 1em;
  text-align: center;
  font-size: 0.75em; }
  @media all and (min-width: 28em) {
    footer {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0; } }

.profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 1em; }
  @media all and (min-width: 34em) {
    .profile {
      margin: 2em; } }

.profile__pic {
  width: 4em;
  height: 4em;
  margin-right: 1em;
  border-radius: 50%; }
  @media all and (min-width: 34em) {
    .profile__pic {
      width: 8em;
      height: 8em; } }

.profile__pic.matt {
  background: url("../img/matt_m.png");
  background-size: cover;
  background-position: 50% 50%; }

.profile__pic.neel {
  background-color: #3FBDDB;
  background-size: cover;
  background-position: 50% 50%; }

.profile__pic.jeff {
  background-color: #FC9C46;
  background-size: cover;
  background-position: 50% 50%; }

.profile__flex-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.profile__name {
  margin-top: 0;
  line-height: 1;
  font-size: 1em; }
  @media all and (min-width: 28em) {
    .profile__name {
      font-size: 1.75em; } }

.profile__title {
  color: #a0a9be;
  font-weight: 600;
  font-size: 0.7em;
  font-style: italic;
  display: block; }
  @media all and (min-width: 34em) {
    .profile__title {
      font-size: 0.8em; } }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 4em; }

p {
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  color: #505B75;
  font-weight: 400; }

h1 {
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 0.2em;
  line-height: 1.35; }
  @media all and (min-width: 28em) {
    h1 {
      margin-bottom: 0.5em;
      margin-top: 1em;
      font-size: 3em; } }

h3 {
  font-size: 1.7em;
  margin-top: 1em; }

p {
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 20px;
  line-height: 1.8;
  font-family: 'Open Sans'; }
  @media all and (min-width: 28em) {
    p {
      margin-bottom: 10px; } }

h1, h2, h3 {
  font-family: 'Khand'; }

b {
  font-weight: 700;
  color: #505B75; }
