.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    @include breakpoint($mobile) {
        flex-direction: row;
    }
}

.logo__img {
    flex: 1;
    max-width: 8em;
    padding-left: 0;
    
    @include breakpoint($tablet) {
        max-width: 10em;
    }
}

.logo__name {
    flex: 1;
    font-size: 3.5em;
    font-weight: 300;
    max-width: 4em;
    margin-bottom: 0;
    
    @include breakpoint($desktop) {
        margin-top: 0;
        padding-left: 0;
        padding-top: 0.6em;
        font-size: 5em;
    }
}

.logo__text {
    color: $dark;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 1.8;
    
    @include breakpoint($tablet) {
        font-size: 1.15em;
    }
}

.st0{fill:#FFFFFF;}
.st1{fill:#2D8796;}
.st2{fill:#3FBDDB;}
.st3{fill:#543E51;}
.st4{fill:#843860;}
.st5{fill:#F4B44D;}
.st6{fill:#776900;}
.st7{fill:#978A00;}
.st8{fill:none;stroke:#D3D3D3;stroke-width:9;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st9{fill:#CCCCCC;}
.st10{fill:#D9D9D9;}
.st11{fill:none;stroke:#CCCCCC;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st12{fill:#A83920;}
.st13{fill:#5B1809;}
.st14{fill:#505B75;}
.st15{fill:#DF9A78;}
.st16{fill:#FC9C46;}
.st17{fill:#E1578A;}
.st18{font-family:'Khand';}
.st19{font-size:41px;}