.article {
    
    h1 {
        margin-bottom: 0;
    }
    
    h2 {
        margin-bottom: 20px;
    }
    
    .author {
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    .source {
        font-size: 10px;
    }
}